<div class="row">
	
	<div class="col-md-2"></div>
	
	<div class="col-md-8">
		
		<div  class="panel panel-default center-text" >
			<div class="panel-body ">		
				
				
				<h5 class="text-muted"><strong>Definion:</strong> RILT  Rememeber It Like This</h5>
				<div class="center-block text-center">
					<img class="center-block text-center" width="600px;" src="images/diagram.png">
				</div>
				
				<blockquote>
  <p>Rememeber It Like This</p>
  <small>Someone famous in <cite title="Source Title">RILT</cite></small>
</blockquote>
			
			
			
							<blockquote>
  <p>Rememeber It Like This</p>
  <small>Someone famous in <cite title="Source Title">RILT</cite></small>
</blockquote>


				<blockquote>
  <p>Rememeber It Like This</p>
  <small>Someone famous in <cite title="Source Title">RILT</cite></small>
</blockquote>	
			</div>
		</div>





	</div> <!-- end middle -->
	
	<div class="col-md-2"></div>
	
</div>


